{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
<div class="div-evento">
    <a href="evento/" class="btn btn-success btn-sm" title="Adicionar">
        </i><i class="fa fa-plus" aria-hidden="true"></i>
    </a>
    <span>Adicionar Evento</span>
</div>
<div>
    <p class="lead">Lista de eventos:</p>
</div>
<div class="table-reponsive">
    <table class="table table-striped">
        <tr>
            <th>Evento</th>
            <th>Data - Horário</th>
            <th>Opções</th>
        </tr>
        {% for evento in evento %}
        <tr>
            <td>{{evento.titulo}}</td>
            <td>{{evento.get_data_evento}}</td>
            <td>
                <a href="evento/?id={{evento.id}}" class="btn btn-warning btn-sm" title="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="evento/delete/{{evento.id}}/" class="btn btn-danger btn-sm" title="Excluir">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>Nenhum evento registrado</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}    